# dependencies
node_modules/

# env file (secrets)
.env

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# build files
dist/
build/

# optional
coverage/

# editor files (important)
.vscode/
.idea/